*{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #1a2456;

}

header{
  position: relative;
}


nav {
  position: fixed;
  top: 15px;
  right: 15px;
  left: 15px;
  background-color: #1a2456;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  z-index: 1000;
}

.nav-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo a img {
  width: 50px;
  margin: 5px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px;

}

nav .nav-logo a h3,
.links a {
  text-decoration: none;
  color:white;
}

.nav-logo a h3:hover,
.links a:hover {
  text-decoration: none;
  color: #ff8b68;
}

.drpdown1-content,
.drpdown2-content {
  display: none;
  background-color: white;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.drpdown1-content a, .drpdown2-content a {
  padding: 5px 20px;
  display: block;
  text-align: left;
  color: black;
}

.drpdown1:focus-within .drpdown1-content,
.drpdown2:focus-within .drpdown2-content {
  display: block;
}

/* Hero Styles */

.hero-container {
  background-image: url(/img_top/shop_cta_xl.webp);
  background-size: cover;
  background-position: center;

  opacity: 50%;
  height: 660px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
}

.hero-container h1 {
  font-weight: bolder;
  font-size: 35px;
  background-color:unset;
  width:350px;
}

.hero-container p {
  font-weight: bolder;
  font-size: 15px;
  background-color:unset;
}

/* .hero-container .down-arrow{

}

.hero-container .down-arrow img {
  color: #ffffff;
  background-color: unset;
} */